{% extends "layout/_base.html" %}

{% import "macros/_html.html" as html %}

{% block content %}



	
	<div class="panel panel-default">
	<div class="panel-heading">Catalog - Delete</div>
		<div class="panel-body">
			<form action="{{ form_action }}" method="POST">
				{{ form.csrf_token }}
				<p>Are you sure to delete catalog "{{ catalog }}"</p>
				<hr/>
				<p>{{ html.submit('OK','confirm',class="btn btn-default") }} {{ html.url_button('Cancel',url_for('catalog.index'),class="btn btn-default") }}</p>
			</form>
		</div>

	</div>






{% endblock %}