{% extends "layout/_base.html" %}
{% import "macros/_form.html" as forms %}
{% import "macros/_html.html" as html %}
{% block content %}


<div class="row">
	
	<div class="panel panel-default">
	<div class="panel-heading">Catalog - create </div>
		<div class="panel-body">
			<form action="{{ form_action }}" method="POST">
				{{ form.csrf_token }}
    			{{ form.name.label }} {{ form.name(size=50) }}
			
				<p>{{ forms.submit('OK') }} {{ forms.url_button('Cancel',url_for('catalog.index')) }}</p>
			</form>
		</div>

	</div>



</div>






{% endblock %}