{% extends "layout/_base.html" %}
{% import "macros/_form.html" as form %}
{% set title = "Catalog List" %}



{% block content %}


<div class="row">
	
	<div class="panel panel-default">
	<div class="panel-heading">{{ item.name }}</div>
		<div class="panel-body">
			{{ item.text }}
		</div>
		<p>
			{{ form.url_button('Edit',url_for('catalog.item_edit',catalog=item.catalog_name,item=item.name)) }}
			{{ form.url_button('Delete',url_for('catalog.item_delete',catalog=item.catalog_name,item=item.name)) }}

		</p>
	</div>



</div>






{% endblock %}