{% extends "layout/_base.html" %}
{% import "macros/_html.html" as html %}
{% set title = "Item Create " %}
{% block content %}


	
	<div class="panel panel-default">
	<div class="panel-heading">Item - create </div>
		<div class="panel-body">
			<form class="form-horizontal" action="{{ form_action }}" method="POST">
				{{ form.csrf_token }}
			  <div class="control-group">
			    <label class="control-label" for="name">Name</label>
			    <div class="controls">
			      {{ form.name(size=50,class_="form-control") }}

			    </div>
			  </div>

			  <div class="control-group">
			    <label class="control-label" for="description">Description</label>
			    <div class="controls">
			      {{ form.description(class_="form-control") }}

			    </div>
			  </div>

			  <div class="control-group">
			    <label class="control-label" for="catalog_id">Catalog</label>
			    <div class="controls">
			      {{ form.catalog_id(class_="form-control") }}

			    </div>
			  </div>

			  <hr/>
			  <div class="control-group">

			      {{ html.submit(text='OK',class='btn btn-default') }}
				 {{ html.url_button(text='Cancel',url=url_for('catalog.index'), class='btn btn-default') }}
			
			  </div>

			</form>


		</div>

	</div>








{% endblock %}