{% extends "layout/_base.html" %}
{% import "macros/_html.html" as html %}
{% set title = "Catalog List" %}



{% block content %}


	
	<div class="panel panel-default">
	<div class="panel-heading"><a href="{{ url_for('catalog.detail',catalog=catalog_name) }}">{{ item.name }} </a></div>
		<div class="panel-body">
			{{ item.description }}
		</div>
		<hr/>
		<p>
			{{ html.url_button('Edit',url_for('catalog.item_edit',catalog=catalog_name,item=item.name),class="btn btn-default") }}
			{{ html.url_button('Delete',url_for('catalog.item_delete',catalog=catalog_name,item=item.name),class="btn btn-default") }}

		</p>
	</div>




{% endblock %}