{% extends "layout/_base.html" %}
{% import "macros/_html.html" as html %}
{% set title = "Item Edit " %}
{% block content %}


<div class="row">
	
	<div class="panel panel-default">
	<div class="panel-heading">Item - Edit</div>
		<div class="panel-body">
			<form action="{{ form_action }}" method="POST">
				{{ form.csrf_token }}{{ form.id() }}
				<p>{{ form.name.label }} {{ form.name(size=50) }}</p>
    			<p>{{ form.description.label }} {{ form.description() }}</p>
				<p>{{ form.catalog_id.label }} {{ form.catalog_id() }}</p>
				<p>{{ html.submit('OK') }} {{ html.url_button('Cancel',url_for('catalog.index')) }}</p>
			</form>
		</div>

	</div>



</div>






{% endblock %}