{% extends "layout/_base.html" %}
{% import "macros/_html.html" as html %}
{% set title = "Item Delete " %}
{% block content %}


<div class="row">
	
	<div class="panel panel-default">
	<div class="panel-heading">Item - Delete</div>
		<div class="panel-body">
			<form action="{{ form_action }}" method="POST">
				<p>Are you sure to delete item "{{ item }}"</p>
				<p>{{ html.submit('OK','confirm') }} {{ html.url_button('Cancel',url_for('catalog.index')) }}</p>
			</form>
		</div>

	</div>



</div>


{% endblock %}