{% extends "layout/_base.html" %}
{% import "macros/_html.html" as html %}


{% block content %}


<div class="row">
	<div class="col-md-3">
		{% include "catalog/_left.html" %}
	</div>
	<div class="col-md-9">
		
		<span> {{ this_one.name }} List</span>

		{% if not is_main %}
			{{ html.link("Edit",url_for('catalog.edit',catalog=this_one.name)  ) }}
			{{ html.link("Delete",url_for('catalog.delete',catalog=this_one.name)) }}

		{% endif %}
		<ul>
		{% for item in this_one.items %}
			<li>{{ html.link(item.name,url_for('catalog.item_detail',catalog=this_one.name,item=item.name)  ) }}</li>
		{% endfor%}
		</ul>

		{{ html.link("Create",url_for('catalog.item_create')  ) }}
	</div>
</div>

<div>

</div>


{% endblock %}