{% extends "layout/_base.html" %}
{% import "macros/_html.html" as html %}


{% block content %}


<div class="row">
	<div class="col-md-3">
		{% include "catalog/_left.html" %}
	</div>
	<div class="col-md-9">
		<div class=" panel panel-default">

			<div class="panel-heading">Catalog [{{ this_one.name }}] 
				{% if not is_main %}
					<a href="{{url_for('catalog.edit',catalog=this_one.name)}}" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
					<a href="{{url_for('catalog.delete',catalog=this_one.name)}}" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
				{% endif %}
				<a href="{{url_for('catalog.item_create')}}" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Item</a>
			 </div>


			
			<ul class="nav nav-sidebar">
			{% for item in this_one.items %}
				<li>{{ html.link(item.name,url_for('catalog.item_detail',catalog=this_one.name,item=item.name)  ) }}</li>
			{% endfor%}
			</ul>

			</div>
		</div>
	</div>
</div>

<div>

</div>


{% endblock %}